<nav class="navbar navbar-expand nav-color text-white w-100 m-0" id="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text"id="navbarNavDropdown">
      <ul class="navbar-nav w-100 ">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/dashboard/inicio">Documento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/estados">Estados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/graphic">Diagramas</a>
        </li>
        <li class="nav-item dropdown d-flex">
        </li>
      </ul>
      <div class="dropdown d-none d-sm-block">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              Usuario de prueba
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item fw-semibold" (click)="logOut()">Cerrar sesion</a></li>
            </ul>
      </div>
      <div class="d-block d-sm-none ">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
          <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        </svg>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>