.status{
    height: 100px;
}

.error-box{
    height: 40px;
}

/* Iconos */
.icon-logo{
    width: 200px;
    height: 200px;
    transition: ease all 1s;
    color: var(--principal-color);
}
.icon-color{color:var(--principal-color);}
.icon-logo:hover{transform: scale(1.1);}

/* Inputs */
.input{
    outline: none;
    position: relative !important;
    transition: outline ease .1s;
    outline-style: solid;
    outline-color: transparent;
    outline-width: 3px;
    border-color: rgb(197, 197, 197);;
    
}
.input:focus,
.input:hover{
    outline-color: rgb(197, 197, 197);
}

.input.invalid ~ .input-info .invalid,
.input.invalid{
    outline-color: rgb(240, 74, 74) !important;
    background-color: rgb(240, 74, 74) !important;
    background-color: rgb(255, 217, 217) !important;
    color: red !important;
}

.input.invalid ~ .input-info .invalid-info{
    color: red !important; 
}
.input-info{
    cursor: pointer;
    padding: 8px;
    padding-top: 4px;
}
.input-info:hover .tooltip-box{
    visibility: visible;
}
.input-label{color: var(--principal-color) !important;}

.login-button{
    background-color: var(--principal-color);
}
.login-button:disabled{
    background-color: var(--principal-color-disabled);
    cursor:not-allowed;
}
/* Tooltip */
.tooltip-box{
    z-index: 30;
    visibility: hidden;
    transition: all ease 0.3;
    width:max-content;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--principal-color);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
}