/* Cuerpo */
.area{
    background: var(--principal-color);
    background: linear-gradient(99deg, var(--principal-color) 0%, var(--principal-color-disabled) 50%, var(--principal-color-disabled) 100%);
}
.body-login{z-index: 10;}
.body-content{max-width: 580px;}

.status{
    height: 100px;
}

.error-box{
    height: 40px;
}

/* Iconos */
.icon-logo{
    width: 200px;
    height: 200px;
    transition: ease all 1s;
    color: var(--principal-color);
}
.icon-color{color:var(--principal-color);}
.icon-logo:hover{transform: scale(1.1);}

/* Inputs */
.input{
    outline: none;
    position: relative !important;
    transition: outline ease .1s;
    outline-style: solid;
    outline-color: transparent;
    outline-width: 3px;
    border-color: rgb(197, 197, 197);;
    
}
.input:focus,
.input:hover{
    outline-color: rgb(197, 197, 197);
}

.input.invalid ~ .input-info .invalid,
.input.invalid{
    outline-color: rgb(240, 74, 74) !important;
    background-color: rgb(240, 74, 74) !important;
    background-color: rgb(255, 217, 217) !important;
    color: red !important;
}

.input.invalid ~ .input-info .invalid-info{
    color: red !important; 
}
.input-info{
    cursor: pointer;
    padding: 8px;
    padding-top: 4px;
}
.input-info:hover .tooltip-box{
    visibility: visible;
}
.input-label{color: var(--principal-color) !important;}

.login-button{
    background-color: var(--principal-color);
}
.login-button:disabled{
    background-color: var(--principal-color-disabled);
    cursor:not-allowed;
}
/* Tooltip */
.tooltip-box{
    z-index: 30;
    visibility: hidden;
    transition: all ease 0.3;
    width:max-content;
}

/* Fondo Animado */
.circles{z-index: 0;}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1500px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Loader */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--principal-color);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
}